<% @kases.each do |kase| %>

  <h2>Case</h2>
  <p>Subject: <%= kase.subject %></p>
  <p>Blurb: <%= kase.blurb %></p>
  <p>Status: <%= kase.status %></p>
  <p>Received At: <%= kase.received_at %></p>
  <p>url: <%= kase.href %></p>
  <p>labels: <%= kase.labels.join(", ") %></p>

<% end %>
